body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4
}

.header {
  background: #2563eb;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  padding: 40px;
  text-align: center;
}

button {
  padding: 12px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
}

.card {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
}